<div class="container" style="height:90%;">
    <div class="row" style="height:12%;"></div>
    <div class="row" style="height:12%;">
        <select class=col-3 [(ngModel)]="tipo_seleccionado">
            <option [value]="i" *ngFor="let i of tipo">{{i}}</option>
        </select>
        <input class=col-6 type="text" [(ngModel)]="nombre">
        <button class=col-3 type="button" (click)="busqueda(nombre)">Buscar</button>
    </div>
    <app-lista class="row" *ngIf="datos" [lista]="datos" [titulo]="tipo_seleccionado" style="height:76%;"></app-lista>
</div>