<div class="container-fluid" style="height: 100%;">
    <div class="row" style="height: 30%;  background-color: white;" >
            <div class="row" style="height: 100%">
                <label for="nombre" style="height: 30%;" >Nombre:{{nombre}}</label>
                <div   class="w-100"></div>
                <label for="dni_ruc" style="height: 30%;" >DNI/RUC:{{dni_ruc}}</label>
                <div   class="w-100"></div>
                <label for="tipo" style="height: 30%;" >Tipo:{{tipo}}</label>
            </div>
    </div>
    <div *ngIf="estado" class="row" style="height: 10%;" >
        <button class="col-2" style="height: 100%;" type="button" (click)="patrocinar()">Patrocinar</button>
    </div>
</div>

